/* styles/ListPage.module.css */
.ownerListContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px; /* Adjusted padding */
    background-color: #000; /* Assuming you want a black background like in the screenshot */
  }
  
  .ownerItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding subtle shadow for depth */
  }
  
  .ownerAvatarContainer {
    flex-shrink: 0; /* Prevents the avatar from shrinking */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden; /* Ensures the identicon is contained within the border radius */
    background: #ccc; /* Placeholder background */
  }
  
  .ownerAvatar {
    width: 100%;
    height: auto;
  }
  
  .ownerInfo {
    flex-grow: 1; /* Allows the info section to fill the remaining space */
  }
  
  .ownerName {
    font-weight: bold;
    margin-bottom: 4px; /* Space between name and token count */
    color: #333; /* Dark text color for readability */
  }
  
  .ownerTokens {
    font-size: 0.9em;
    color: #555;
  }
  